<div class="card shadow-sm mb-3">
  <div class="card-body p-4">
    <% if @events.present? %>
      <%= month_calendar events: @events do |date, events| %>
        <div class="day">
          <%= date %>
        </div>
        <% events.each do |event| %>
          <div>
            <%= event.title %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <%= month_calendar do |date| %>
        <div class="day">
          <%= date %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>