<% if logged_in? %>
  <% content_for :js do %>
    <%= javascript_import_module_tag "static_pages/timer" %>
    <%= javascript_import_module_tag "static_pages/openMeteoApi" %>
  <% end %>
  <div class="row d-flex">
    <div class="col-md-8 col-lg-6 col-xl-4">
      <%= render 'today_date_card' %>
    </div>
    <div class="col-md-8 col-lg-6 col-xl-4">
      <%= render 'today_total_card' %>
    </div>
    <div class="col-md-8 col-lg-6 col-xl-4">
      <%= render 'today_weather_card' %>
    </div>
  </div>
  <%= render 'today_trend_card' %>
  <%= render 'calendar_card' %>
<% else %>
  <div class="background d-flex align-items-center">
    <div class="home-content">
      <h1 class="display-1">LiLy</h1>
      <p>Sales Analysis System</p>
    </div>
  </div>
<% end %>
