<% provide(:title, "ログイン") %>
<div class="row mx-auto d-flex justify-content-center align-items-center" style="height:500px;">
  <div class="col col-lg-5">
    <div class="card shadow-sm">
      <div class="card-body">
        <h6 class="mb-3">ログイン</h6>
        <%= form_with(url: login_path, scope: :session) do |f| %>
          <div class="form-group mb-2">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
          <div class="form-group mb-2">
            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <div class="form-check mb-2">
            <%= f.check_box :remember_me , class: "form-check-input" ,id: "flexCheckChecked3" %>
            <label class="form-check-label" for="flexCheckChecked3">
              次回から自動でログイン
            </label>
          </div>
          <div class="form-group">
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
