<% provide(:title, '商品マスタ')%>
<h1>商品マスタ</h1>

<%= link_to "追加", new_user_producttype_path(@user), class: "btn btn-lg btn-primary" %>
<div class="table-responsive">
<table class="table table-bordered">
	<thead>
		<tr>
			<th class="info" ><%= Maker.human_attribute_name(:name) %></th>
			<th class="info" ><%= Maker.human_attribute_name(:created_at) %></th>
			<th class="info" ><%= Maker.human_attribute_name(:updated_at) %></th>
			<th class="info" ></th>
		</tr>
	</thead>
  <tbody>
    <% @producttypes.each do |producttype| %>
      <tr>
        <td><%= producttype.name %></td>
        <td><%= producttype.created_at.strftime('%Y/%m/%d %H:%M')  %></td>
        <td><%= producttype.updated_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td>
          <%= link_to '編集', edit_user_producttype_path(@user, producttype) %> | 
          <%= link_to "削除", user_producttype_path(@user, producttype), data: {turbo_method: :delete, turbo_confirm: '本当によろしいですか？'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="text-center">
  <%= paginate @producttypes %>
</div>
