<% provide(:title, '商品分類マスタ')%>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path, data: { turbo: false } %></li>
    <li class="breadcrumb-item active" aria-current="page">商品分類マスタ</li>
  </ol>
</nav>
<%= render 'shared/search', q: @q, url: search_user_producttypes_path(@user), clear_url: user_producttypes_path(@user), label: '商品名', list_name: 'producttype' %>
<div class="card shadow-sm">
  <div class="card-body">
    <%= turbo_frame_tag "producttypes-list" do %>
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h6><%="検索結果 #{current_page_number(@producttypes)}" %></h6>
      <%= link_to new_user_producttype_path(@user), data: { turbo: false }, class: "btn btn-sm btn-outline-primary" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
    <div class="table-responsive text-nowrap">
      <table class="table table-striped table-hover table-bordered align-middle">
        <thead class="text-white" style="background-color: <%= make_color('producttype') %>;">
          <tr>
            <td style="width: 15.5%;"><%= sort_link(@q, :created_at, default_order: :desc, class: "Editlink") %></td>
            <td><%= sort_link(@q, :name, default_order: :desc, class: "Editlink") %></td>
            <td style="width: 7.5%;">操作</td>
          </tr>
        </thead>
        <tbody>
          <%= render @producttypes %>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <%= paginate @producttypes %>
    </div>
    <% end %>
  </div>
</div>