<%= form_with(model: [@user, obj]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="card shadow-sm">
    <div class="card-body">
      <h6 class="mb-3"><%= form_name %></h6>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="table-light">
              <div class="col-form-label col-form-label-sm">
                <%= f.label :name %>  <span class="badge bg-danger">必須</span>
              </div>
            </td>
            <td>
              <%= f.text_field :name, class: "form-control form-control-sm" %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row mx-auto">
        <%= f.submit yield(:button_text), class: "btn btn-primary col-sm-3 me-2 mb-2" %>
        <%= link_to '一覧へ戻る', url, class: "btn btn-danger col-sm-3 ml-3 mb-2", data: { turbo: false } %>
      </div>
    </div>
  </div>
<% end %>

