<%= form_with(model: [@user, obj]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="card shadow-sm">
    <div class="card-body">
      <h6><%= form_name %></h6>
      <div class="form-group">
        <%= f.label :name, class: "control-label" %>
        <%= f.text_field :name, class: "form-control" %>  
      </div>
      <div class="form-group">
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>