<%= form_with(model: [@user, obj], data: { turbo: false }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="card shadow-sm">
    <div class="card-body">
      <h6 class="mb-3"><%= form_name %></h6>
      <div class="form_group row mx-sm-auto mb-2">
        <div class="table-line col-sm-3 col-lg-2 bg-light border p-sm-2">
          <div class="col-form-label col-form-label-sm text-sm-center d-flex">
            <%= f.label :name %><span class="must-label">*&nbsp;</span>
            <div class="tooltip-block">
              <p class="tooltip-text">30文字以内で入力してください。</p>
              <div class="tooltip-btn"></div>
            </div>
          </div>
        </div>
        <div class="table-line col-sm-7 col-lg-6 border border-start-0 p-sm-2">
            <%= f.text_field :name, class: "form-control form-control-sm input", required: true %>
        </div>
      </div>
      <div class="row mx-auto">
        <%= f.submit yield(:button_text), class: "btn btn-primary btn-sm col-6 col-sm-2 me-sm-1" %>
        <%= link_to "戻る", :back, data: { turbo: false }, class: "btn btn-secondary btn-sm col-6 col-sm-2" %>
      </div>
    </div>
  </div>
<% end %>

