<%= form_with(model: [@user, obj]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="card shadow-sm">
    <div class="card-body">
      <h6 class="mb-3"><%= form_name %></h6>
      <div class="table-responsive text-nowrap">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="table-light">
                <%= f.label :name, class: "col-form-label" %>  <span class="badge bg-danger">必須</span>
              </td>
              </div>
              <td>
                <%= f.text_field :name, class: "form-control" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row justify-content-center">
        <%= f.submit yield(:button_text), class: "btn btn-primary rounded-pill col-sm-2" %>
      </div>
    </div>
  </div>
<% end %>