<div class="card shadow-sm mb-3">
  <div class="card-body">
  <h6 class="mb-3">検索条件</h6>
    <%= search_form_for q, url: url, data: { turbo: false } do |f| %>
      <div class="form_group row mb-2">
        <%= f.label :name_cont, '名称', class:"col-sm-3 col-lg-2 col-form-label col-form-label-sm" %>
        <div class="col-sm-7 col-lg-6">
          <%= f.search_field :name_cont, class:"form-control form-control-sm" %>
        </div>
      </div>
      <div class="form_group row mb-2">
        <%= f.label :created_at_gteq, '登録日', class: "col-sm-3 col-lg-2 col-form-label col-form-label-sm"%>
        <div class="col-sm-7 col-lg-6 d-flex">
          <%= f.date_field :created_at_gteq, class: "form-control form-control-sm" %>
          <div class="col-form-label col-form-label-sm center">〜</div>
          <%= f.date_field :created_at_lteq_end_of_day, class: "form-control form-control-sm" %>
        </div>
      </div>
      <div class="form_group d-flex justify-content-start">
        <%= link_to 'クリア', url, class: "btn btn-outline-secondary btn-sm col-3 col-md-2 me-1", data: { turbo: false } %>
        <%= f.submit '検索', class: "btn btn-primary btn-sm col-3 col-md-2 me-1" %>
        <%= f.button class: "btn btn-success btn-sm col-5 col-md-3", name: "export_csv" do %>
          <i class="fa fa-file-text"></i> CSV出力
        <% end %>
      </div>
      <div class="read-text text-sm-end mt-2">※CSV出力ボタンは、検索条件に当てはまるデータをCSVで出力します。</div>
    <% end %>
  </div>
</div>