<div class="panel panel-primary">
  <div class="panel-heading">
    <h4><%= make_aggregate_title(card_pattern) %></h4>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li><a href="#pie_chart_<%= card_pattern %>" data-toggle="tab">円グラフ</a></li>
      <li class="active"><a href="#column_chart_<%= card_pattern %>" data-toggle="tab">棒グラフ</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="pie_chart_<%= card_pattern %>">
        <p>
          <%= pie_chart convert_array(aggregates, card_pattern), legend: "right", suffix: "円", thousands: "," %>
        </p>
      </div>
      <div class="tab-pane active" id="column_chart_<%= card_pattern %>">
        <p>
          <%= bar_chart convert_array(aggregates, card_pattern), suffix: "円", thousands: ","  %>
        </p>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="info">No.</th>
            <% if card_pattern == "maker_producttype" %>
              <th class="info"><%= Sale.human_attribute_name(:maker_id) %></th>
              <th class="info"><%= Sale.human_attribute_name(:producttype_id) %></th>
            <% elsif card_pattern == "maker" %>
              <th class="info"><%= Sale.human_attribute_name(:maker_id) %></th>
            <% elsif card_pattern == "producttype" %>
              <th class="info"><%= Sale.human_attribute_name(:producttype_id) %></th>
            <% end %>
            <th class="info">純売上</th>
            <th class="info">販売数量</th>
            <th class="info">昨年の純売上</th>
            <th class="info">昨年の販売数量</th>
            <th class="info">成長率（前年比較）</th>
          </tr>
        </thead>
        <tbody>
          <% aggregates.each.with_index(1) do |aggregate, index| %>
            <tr>
              <td><%= index %></td>
              <% if card_pattern == "maker_producttype" %>
                <td><%= aggregate.maker_name %></td>
                <td><%= aggregate.producttype_name %></td>
              <% elsif card_pattern == "maker" %>
                <td><%= aggregate.maker_name %></td>
              <% elsif card_pattern == "producttype" %>
                <td><%= aggregate.producttype_name %></td>
              <% end %>
              <td class="text-right"><%= "#{number_with_delimiter(aggregate.sum_amount_sold)}円" %></td>
              <td class="text-right"><%= aggregate.quantity_sold %></td>
              <td class="text-right"><%= "#{number_with_delimiter(aggregate.last_year_sum_amount_sold)}円" %></td>
              <td class="text-right"><%= aggregate.last_year_quantity_sold %></td>
              <td class="text-right"><%= aggregate.sales_growth_rate %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>