<% if aggregates.present? %>
  <div class="card mt-3">
    <div class="card-header">
      <%= make_ranking_title(aggregates.first) %>
    </div>
    <div class="card-body ranking-item">
      <div class="text-yellow">
        <span class="font-bold text-lg">1</span>
        <span>位</span>
      </div>
      <div>
        <div><%= make_ranking_name(aggregates.first) %></div>
        <div><%= add_comma_en(aggregates.first.sum_amount_sold) %></div>
      </div>
    </div>
    <% if aggregates.second.present? %>
      <div class="card-body ranking-item">
        <div class="text-gray">
          <span class="font-bold text-lg">2</span>
          <span>位</span>
        </div>
        <div>
          <div><%= make_ranking_name(aggregates.second) %></div>
          <div><%= add_comma_en(aggregates.second.sum_amount_sold) %></div>
        </div>
      </div>
    <% else %>
      <div class="card-body ranking-item">
        <div>
          <span class="font-bold text-lg"></span>
          <span>ー</span>
        </div>
        <div>
          <div></div>
          <div></div>
        </div>
      </div>
    <% end %>
    <% if aggregates.third.present? %>
      <div class="card-body ranking-item">
        <div class="text-brown">
          <span class="font-bold text-lg">3</span>
          <span>位</span>
        </div>
        <div>
          <div><%= make_ranking_name(aggregates.third) %></div>
          <div><%= add_comma_en(aggregates.third.sum_amount_sold) %></div>
        </div>
      </div>
    <% else %>
        <div class="card-body ranking-item">
        <div>
          <span class="font-bold text-lg"></span>
          <span>ー</span>
        </div>
        <div>
          <div></div>
          <div></div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>