<div class="table-responsive text-nowrap">
  <table class="table table-sm table-striped mb-0">
    <thead>
      <tr class="table-<%= make_class_name(card_pattern)%>">
        <th>No.</th>
        <% if card_pattern == "maker_producttype" %>
          <th><%= Sale.human_attribute_name(:maker_id) %></th>
          <th><%= Sale.human_attribute_name(:producttype_id) %></th>
        <% elsif card_pattern == "maker" %>
          <th><%= Sale.human_attribute_name(:maker_id) %></th>
        <% elsif card_pattern == "producttype" %>
          <th><%= Sale.human_attribute_name(:producttype_id) %></th>
        <% end %>
        <th>純売上</th>
        <th>販売数量</th>
        <th>昨年の純売上</th>
        <th>昨年の販売数量</th>
        <th>成長率（前年比較）</th>
      </tr>
    </thead>
    <tbody>
      <% aggregates.each.with_index(1) do |aggregate, index| %>
        <tr>
          <td><%= index %></td>
          <% if card_pattern == "maker_producttype" %>
            <td><%= aggregate.maker_name %></td>
            <td><%= aggregate.producttype_name %></td>
          <% elsif card_pattern == "maker" %>
            <td><%= aggregate.maker_name %></td>
          <% elsif card_pattern == "producttype" %>
            <td><%= aggregate.producttype_name %></td>
          <% end %>
          <td class="text-right"><%= add_comma_en(aggregate.sum_amount_sold) %></td>
          <td class="text-right"><%= aggregate.quantity_sold %></td>
          <td class="text-right"><%= add_comma_en(aggregate.last_year_sum_amount_sold) %></td>
          <td class="text-right"><%= aggregate.last_year_quantity_sold %></td>
          <td class="text-right"><%= aggregate.sales_growth_rate %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>