<div class="overflow table-responsive">
  <table class="table table-striped table-hover table-bordered align-middle">
    <thead class="text-white" style="background-color: <%= make_color(card_pattern)%>;">
      <tr>
        <td>順位</td>
        <% if card_pattern == "maker_producttype" %>
          <td style="width: 15.5%;"><%= Sale.human_attribute_name(:maker_id) %></td>
          <td style="width: 15.5%;"><%= Sale.human_attribute_name(:producttype_id) %></td>
        <% elsif card_pattern == "maker" %>
          <td style="width: 21.5%;"><%= Sale.human_attribute_name(:maker_id) %></td>
        <% elsif card_pattern == "producttype" %>
          <td style="width: 21.5%;"><%= Sale.human_attribute_name(:producttype_id) %></td>
        <% end %>
        <td>純売上</td>
        <td>販売数量</td>
        <td>昨年の純売上</td>
        <td>昨年の販売数量</td>
        <td>売上前年比</td>
      </tr>
    </thead>
    <tbody>
      <% aggregates.each.with_index(1) do |aggregate, index| %>
        <tr>
          <td class="text-center"><%= "#{index}位" %></td>
          <% if card_pattern == "maker_producttype" %>
            <td><%= aggregate.maker_name %></td>
            <td><%= aggregate.producttype_name %></td>
          <% elsif card_pattern == "maker" %>
            <td><%= aggregate.maker_name %></td>
          <% elsif card_pattern == "producttype" %>
            <td><%= aggregate.producttype_name %></td>
          <% end %>
          <td class="text-end"><%= add_comma_en(aggregate.sum_amount_sold) %></td>
          <td class="text-end"><%= aggregate.quantity_sold %></td>
          <td class="text-end"><%= add_comma_en(aggregate.last_year_sum_amount_sold) %></td>
          <td class="text-end"><%= aggregate.last_year_quantity_sold %></td>
          <td class="text-end"><%= aggregate.sales_growth_rate %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>