<% provide(:title, '日別売上集計') %>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">日別売上集計</li>
  </ol>
</nav>
<%= render 'shared/error_messages', object: @search_params %>
<div class="card mb-3">
  <div class="card-body shadow-sm">
    <h6 class="mb-3">集計条件</h6>
    <%= form_with(url: user_daily_search_path(@user), scope: :search_daily, method: "get", class: "form-inline") do |f| %>
      <div class="form_group row mb-2">
        <div class="col-sm-3 col-lg-2 col-form-label">集計期間</div>
        <div class="col-sm-7 col-lg-6 d-flex">
          <%= f.date_field :start_date, class:'form-control' %>
          <div class="col-form-label col-sm-1 center">〜</div>
          <%= f.date_field :end_date, class:'form-control' %>
        </div>
      </div>
      <div class="form_group row mx-auto">
        <%= f.submit '集計', class: "btn btn-primary col-sm-2" %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'search_result_info', period: "daily" %>
<div class = "row">
  <div class="col-sm-6 col-xxl-3">
    <%= render 'total_card', period: "daily" %>  
  </div>
  <div class="col-sm-6 col-xxl-3">
    <%= render 'best_selling_card', aggregates: @aggregates_of_maker_producttype, card_pattern: "maker_producttype" %>
  </div>
  <div class="col-sm-6 col-xxl-3">
    <%= render 'best_selling_card', aggregates: @aggregates_of_maker, card_pattern: "maker" %>
  </div>
  <div class="col-sm-6 col-xxl-3">
    <%= render 'best_selling_card', aggregates: @aggregates_of_producttype, card_pattern: "producttype" %>
  </div>
</div>
<%= render 'trend_card', period: "daily" %>
<%= render 'aggregate_graph_card' %>
<%= render 'table_card' %>