<% provide(:title, '日別売上集計') %>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">日別売上集計</li>
  </ol>
</nav>
<h1>日次集計</h1>

<div class="card mt-3">
  <div class="card-header">
    集計条件
  </div>
  <div class="card-body">
    <%= form_with(url: user_daily_search_path(@user), scope: :search_daily, method: "get", class: "form-inline") do |f| %>
      <%= render 'shared/error_messages', object: @search_params %>
      <div class="form-group">
        <%= f.date_field :start_date, class:'form-control' %>
      </div> 〜
      <div class="form-group">
        <%= f.date_field :end_date, class:'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit '集計する', class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>

<p><%= search_result_title(@search_params, "daily") %></p>
<% if @no_result.present? %>
  <p><%= @no_result %></p>
<% end %>

<%= render 'total_card' %>
<%= render 'trend_card' %>

<div class = "row">
  <div class="col-xxl-4">
    <%= render 'ranking_card', aggregates: @aggregates_of_maker_producttype %>
  </div>
  <div class="col-xxl-4">
    <%= render 'ranking_card', aggregates: @aggregates_of_maker %>
  </div>
  <div class="col-xxl-4">
    <%= render 'ranking_card', aggregates: @aggregates_of_producttype %>
  </div>
</div>

<%= render 'card', aggregates: @aggregates_of_maker_producttype, card_pattern: "maker_producttype" %>
<%= render 'card', aggregates: @aggregates_of_maker, card_pattern: "maker" %>
<%= render 'card', aggregates: @aggregates_of_producttype, card_pattern: "producttype" %>