<% provide(:title, '年別売上集計') %>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">年別売上集計</li>
  </ol>
</nav>
<%= render 'shared/error_messages', object: @search_params %>
<div class="card mb-3">
  <div class="card-body shadow-sm">
    <h6 class="mb-3">集計条件</h6>
    <%= form_with(url: user_yearly_search_path(@user), scope: :search_form, method: "get") do |f| %>
      <div class="form_group row mb-2">
        <%= f.label :date, '集計年度', class: "col-sm-3 col-lg-2 col-form-label"%>
        <div class="col-sm-3 col-lg-2 d-flex">
          <%= f.date_select(:date, { use_month_numbers: true, start_year: 2018, end_year: Time.now.year,
                                    discard_month: true, discard_day: true }, class:"form-select me-2") %>
          <%= f.label '年', class: "col-form-label"%>
        </div>
      </div>
      <div class="form_group row mx-auto">
        <%= f.submit '集計', class: "btn btn-primary col-sm-2" %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'search_result_info', period: "yearly" %>
<div class = "row">
  <div class="col-sm-6 col-xxl-3">
    <%= render 'total_card', period: "yearly" %>  
  </div>
  <div class="col-sm-6 col-xxl-3">
    <%= render 'best_selling_card', aggregates: @aggregates_of_maker_producttype, card_pattern: "maker_producttype" %>
  </div>
  <div class="col-sm-6 col-xxl-3">
    <%= render 'best_selling_card', aggregates: @aggregates_of_maker, card_pattern: "maker" %>
  </div>
  <div class="col-sm-6 col-xxl-3">
    <%= render 'best_selling_card', aggregates: @aggregates_of_producttype, card_pattern: "producttype" %>
  </div>
</div>
<%= render 'trend_card', period: "yearly" %>
<%= render 'aggregate_graph_card' %>
<%= render 'table_card' %>
