<% provide(:title, '年別売上集計') %>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">年別売上集計</li>
  </ol>
</nav>
<h1>年次集計</h1>

<div class="card shadow mt-3">
  <div class="card-header">
    集計条件
  </div>
  <div class="card-body">
    <%= form_with(url: user_yearly_search_path(@user), method: "get") do |f| %>
      <%= render 'shared/error_messages', object: @search_params %>
      <div><%= f.label :date, '集計年度'%></div>
      <%= f.date_select(:date, { use_month_numbers: true, start_year: 2018, end_year: Time.now.year,
                                discard_month: true, discard_day: true }) + '年'%>
      <%= f.submit '集計' %>
    <% end %>
  </div>
</div>

<p><%= search_result_title(@search_params, "yearly") %></p>
<% if @no_result.present? %>
  <p><%= @no_result %></p>
<% end %>

<%= render 'total_card' %>
<%= render 'trend_card' %>

<div class = "row">
  <div class="col-sm-4">
    <%= render 'ranking_card', aggregates: @aggregates_of_maker_producttype %>
  </div>
  <div class="col-sm-4">
    <%= render 'ranking_card', aggregates: @aggregates_of_maker %>
  </div>
  <div class="col-sm-4">
    <%= render 'ranking_card', aggregates: @aggregates_of_producttype %>
  </div>
</div>

<%= render 'card', aggregates: @aggregates_of_maker_producttype, card_pattern: "maker_producttype" %>
<%= render 'card', aggregates: @aggregates_of_maker, card_pattern: "maker" %>
<%= render 'card', aggregates: @aggregates_of_producttype, card_pattern: "producttype" %>
