<% provide(:title, '年別売上集計') %>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">年別売上集計</li>
  </ol>
</nav>
<%= render 'shared/error_messages', object: @search_params %>
<div class="card shadow-sm mb-3">
  <div class="card-body">
    <h6 class="mb-3">集計条件</h6>
    <%= form_with(url: user_yearly_search_path(@user), scope: :search_form, method: "get", data: { turbo: false }) do |f| %>
      <div class="form_group row">
        <div class="col-sm-2 col-xl-1 col-form-label col-form-label-sm">集計年度</div>
        <div class="col-sm-6 col-md-5 col-xl-3 d-flex">
          <%= f.date_select(:date, { use_month_numbers: true, start_year: 2018, end_year: Time.now.year,
                                    discard_month: true, discard_day: true }, class:"form-select form-select-sm") %>
          <div class="col-form-label col-form-label-sm center">年</div>
          <%= f.submit '集計', class: "btn btn-primary btn-sm col-6" %>
        </div>
          <%= f.button class: "btn btn-success btn-sm col-5 col-md-3", name: "export_csv" do %>
            <i class="fa fa-file-text"></i> CSV出力
          <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'search_result_info', period: "yearly" %>
<div class = "row">
  <div class="col-sm-6 col-xxl-3">
    <%= render 'total_card', period: "yearly" %>  
  </div>
  <div class="col-sm-6 col-xxl-3">
    <%= render 'best_selling_card', aggregates: @aggregates_of_maker_producttype, card_pattern: "maker_producttype" %>
  </div>
  <div class="col-sm-6 col-xxl-3">
    <%= render 'best_selling_card', aggregates: @aggregates_of_maker, card_pattern: "maker" %>
  </div>
  <div class="col-sm-6 col-xxl-3">
    <%= render 'best_selling_card', aggregates: @aggregates_of_producttype, card_pattern: "producttype" %>
  </div>
</div>
<%= render 'trend_card', period: "yearly" %>
<%= render 'aggregate_graph_card' %>
<%= render 'table_card' %>
