<% provide(:title, '年別売上集計') %>
<ol class="breadcrumb">
  <li><%= link_to 'ホーム', root_path %></li>
  <li><%= link_to '売上一覧', user_sales_path(@user) %></li>
  <li class="active">年次集計</li>
</ol>
<h1>年次集計</h1>

<div class="panel panel-default">
  <div class="panel-heading">集計条件</div>
  <div class="panel-body">
    <%= form_with(url: user_yearly_search_path(@user), method: "get", class: "form-inline") do |f| %>
      <%= render 'shared/error_messages', object: @search_params %>
      <div class="form-group">
        <%= f.date_select(:date, { use_month_numbers: true, start_year: 2020, end_year: Time.now.year,
                                    discard_month: true, discard_day: true }, class:'form-control') + '年' %>
      </div>
      <div class="form-group">
        <%= f.submit '集計する', class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>

<p><%= search_result_title(@search_params, "yearly") %></p>
<p><%= @no_result %></p>
<% if @sales_total_amount.present? %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>合計純売上</h4>
    </div>
    <div class="panel-body">
      <h4><%= "#{number_with_delimiter(@sales_total_amount)}円" %></h4>
      <span><%= "成長率（前年比較）: #{@sales_growth_rate}"%></span>
    </div>
  </div>
<% end %>
<% if @sales_trend.present? %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>売上推移</h4>
    </div>
    <div class="panel-body">
      <%= line_chart @sales_trend , suffix: "円", thousands: "," %>
    </div>
  </div>
<% end %>
<% if @aggregates_of_maker_producttype.present? %>
  <%= render 'card', aggregates: @aggregates_of_maker_producttype, card_pattern: "maker_producttype" %>
<% end %>
<% if @aggregates_of_maker.present? %>
  <%= render 'card', aggregates: @aggregates_of_maker, card_pattern: "maker" %>
<% end %>
<% if @aggregates_of_producttype.present? %>
  <%= render 'card', aggregates: @aggregates_of_producttype, card_pattern: "producttype" %>
<% end %>