<%= form_with(model: [:admin, @user], data: { turbo: false }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="card shadow-sm">
    <div class="card-body">
      <h6 class="mb-3"><%= form_name %></h6>
      <div class="form_group row mx-sm-auto">
        <div class="table-line col-sm-3 col-lg-2 bg-light border p-sm-2">
          <div class="col-form-label col-form-label-sm text-sm-center">
            <%= f.label :name %>  <span class="badge bg-danger">必須</span>
          </div>
        </div>
        <div class="table-line col-sm-8 col-lg-6 border border-start-0 p-sm-2">
          <%= f.text_field :name, class: "form-control form-control-sm" %>
        </div>
      </div>
      <div class="form_group row mx-sm-auto">
        <div class="table-line col-sm-3 col-lg-2 bg-light border border-top-0 p-sm-2">
          <div class="col-form-label col-form-label-sm text-sm-center">
            <%= f.label :email %>  <span class="badge bg-danger">必須</span>
          </div>
        </div>
        <div class="table-line col-sm-8 col-lg-6 border border-start-0 border-top-0 p-sm-2">
          <%= f.email_field :email, class:"form-control form-control-sm" %>
        </div>
      </div>
      <div class="form_group row mx-sm-auto">
        <div class="table-line col-sm-3 col-lg-2 bg-light border border-top-0 p-sm-2">
          <div class="col-form-label col-form-label-sm text-sm-center">
            管理者権限 <span class="badge bg-secondary">任意</span>
          </div>
        </div>
        <div class="table-line col-sm-8 col-lg-6 border border-start-0 border-top-0 p-sm-2">
          <%= f.label :admin, class: "col-form-label col-form-label-sm" do %>
            <%= f.check_box :admin %>
            <span>チェックを入れると管理者権限になります。</span>
          <% end %>
        </div>
      </div>
      <div class="form_group row mx-sm-auto">
        <div class="table-line col-sm-3 col-lg-2 bg-light border border-top-0 p-sm-2">
          <div class="col-form-label col-form-label-sm text-sm-center">
            <%= f.label :password %>  
              <% if form_name == '登録フォーム' %>
                <span class="badge bg-danger">必須</span>
              <% end %>
          </div>
        </div>
        <div class="table-line col-sm-8 col-lg-6 border border-start-0 border-top-0 p-sm-2">
          <%= f.password_field :password, class:"form-control form-control-sm" %>
          <% if form_name == '編集フォーム' %>
            <div class="read-text">※パスワードは何も入力しなかった場合、現在のパスワードのまま更新されます。
            パスワードを変更したい場合のみ、入力してください。</div>
          <% end %>
        </div>
      </div>
      <div class="form_group row mx-sm-auto mb-2">
        <div class="table-line col-sm-3 col-lg-2 bg-light border border-top-0 p-sm-2">
          <div class="col-form-label col-form-label-sm text-sm-center">
              <%= f.label :password_confirmation, "パスワード確認"%>  
              <% if form_name == '登録フォーム' %>
                <span class="badge bg-danger">必須</span>
              <% end %>
          </div>
        </div>
        <div class="table-line col-sm-8 col-lg-6 border border-start-0 border-top-0 p-sm-2">
          <%= f.password_field :password_confirmation, class:"form-control form-control-sm" %>
        </div>
      </div>
      <div class="row mx-auto">
        <%= f.submit yield(:button_text), class: "btn btn-primary btn-sm col-6 col-sm-2 me-sm-1" %>
        <%= link_to '一覧へ戻る', url, class: "btn btn-secondary btn-sm col-6 col-sm-2", data: { turbo: false } %>
      </div>
    </div>
  </div>
<% end %>