<% provide(:title, 'ユーザー管理') %>
<h1>ユーザー管理</h1>

<%= link_to "ユーザー追加", admin_signup_path, class: "btn btn-lg btn-primary" %>
<table class="table table-bordered">
	<thead>
		<tr>
			<th class="info" ><%= User.human_attribute_name(:name) %></th>
			<th class="info" ><%= User.human_attribute_name(:email) %></th>
			<th class="info" ><%= User.human_attribute_name(:created_at) %></th>
			<th class="info" ><%= User.human_attribute_name(:updated_at) %></th>
      <th class="info" ><%= User.human_attribute_name(:admin) %></th>
			<th class="info" ></th>
		</tr>
	</thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, admin_user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
        <td><%= user.admin? ? '管理者' : '一般' %></td>
        <td><%= link_to '編集', '#' %> | <%= link_to '削除', '#' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
