<% provide(:title, "ユーザー情報") %>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'ユーザー管理', admin_users_path, data: { turbo: false } %></li>
    <li class="breadcrumb-item active" aria-current="page">ユーザー情報(管理者用)</li>
  </ol>
</nav>
<div class="card shadow-sm">
  <div class="card-body">
    <h6 class="mb-3"><%="ユーザー情報(管理者用)" %></h6>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-sm table-bordered">
          <tbody>
            <tr>
              <td class="table-danger"><%= User.human_attribute_name(:id) %></td>
              <td><%= @user.id %></td>
            </tr>
            <tr>
              <td class="table-danger"><%= User.human_attribute_name(:name) %></td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <td class="table-danger"><%= User.human_attribute_name(:email) %></td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td class="table-danger"><%= User.human_attribute_name(:admin) %></td>
              <td><%= @user.admin? ? '管理者' : '一般' %></td>
            </tr>
            <tr>
              <td class="table-danger"><%= User.human_attribute_name(:created_at) %></td>
              <td><%= l @user.created_at, format: :long %></td>
            </tr>
            <tr>
              <td class="table-danger"><%= User.human_attribute_name(:updated_at) %></td>
              <td><%= l @user.updated_at, format: :long %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mx-auto">
      <%= link_to '一覧へ戻る', admin_users_path, class: "btn btn-danger btn-sm col-4 col-md-2", data: { turbo: false } %>
    </div>
  </div>
</div>