<% provide(:title, "ユーザー情報") %>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'ユーザー管理', admin_users_path, data: { turbo: false } %></li>
    <li class="breadcrumb-item active" aria-current="page">ユーザー情報(管理者用)</li>
  </ol>
</nav>
<div class="card shadow-sm">
  <div class="card-body">
    <h6 class="mb-3"><%="ユーザー情報(管理者用)" %></h6>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th class="table-info"><%= User.human_attribute_name(:id) %></th>
              <td><%= @user.id %></td>
            </tr>
            <tr>
              <th class="table-info"><%= User.human_attribute_name(:name) %></th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th class="table-info"><%= User.human_attribute_name(:email) %></th>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <th class="table-info"><%= User.human_attribute_name(:admin) %></th>
              <td><%= @user.admin? ? '管理者' : '一般' %></td>
            </tr>
            <tr>
              <th class="table-info"><%= User.human_attribute_name(:created_at) %></th>
              <td><%= @user.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            </tr>
            <tr>
              <th class="table-info"><%= User.human_attribute_name(:updated_at) %></th>
              <td><%= @user.updated_at.strftime('%Y/%m/%d %H:%M') %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>