<% provide(:title, 'メーカーマスタ') %>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path, data: { turbo: false } %></li>
    <li class="breadcrumb-item active" aria-current="page">メーカーマスタ</li>
  </ol>
</nav>
<%= render 'shared/search', q: @q, url: search_user_makers_path(@user), clear_url: user_makers_path(@user), label: 'メーカー名' %>
<div class="card shadow-sm">
  <div class="card-body">
    <%= turbo_frame_tag "makers-list" do %>
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h6><%="一覧 #{current_page_number(@makers)}" %></h6>
      <%= link_to new_user_maker_path(@user), data: { turbo: false }, class: "btn btn-sm btn-outline-primary" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
    <div class="table-responsive text-nowrap">
      <table class="table table-striped table-hover table-bordered align-middle">
        <thead class="text-white" style="background-color: <%= make_color('maker') %>;">
          <tr>
            <td style="width: 15.5%;"><%= sort_link(@q, :created_at, default_order: :desc, class: "Editlink") %></td>
            <td><%= sort_link(@q, :name, default_order: :desc, class: "Editlink") %></td>
            <td style="width: 7.5%;">操作</td>
          </tr>
        </thead>
        <tbody>
          <%= render @makers %>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <%= paginate @makers %>
    </div>
    <% end %>
  </div>
</div>
<script>
  function check(){
    if(window.confirm('本当に削除しますか？')){ 
      return true;
    }
    else{
      window.alert('キャンセルされました'); 
      return false; 
    }
  }
</script>