<% provide(:title, 'メーカーマスタ')%>
<h1>メーカーマスタ</h1>
<%= search_form_for @q, url: user_makers_path(current_user), class: "mb-5" do |f| %>
  <div class="form_group row">
    <%= f.label :name_cont, 'メーカー名', class: "col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <%= f.search_field :name_cont, class: "form-control" %>
    </div>
  </div>
  <div class="form_group row">
    <%= f.label :created_at, '登録日', class: "col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <%= f.date_field :created_at_gteq, class: "form-control"  %>
      <%= f.date_field :created_at_lteq_end_of_day, class: "form-control"  %>
    </div>
  </div>
  <div class="form_group">
    <%= f.submit '検索', class: "btn btn-outline-primary" %>
  </div>
<% end %>
<%= link_to "追加", new_user_maker_path(@user), class: "btn btn-lg btn-primary" %>
<div class="table-responsive">
<table class="table table-bordered">
	<thead>
		<tr>
      <th class="info" >No.</th>
			<th class="info col-md-6" ><%= Maker.human_attribute_name(:name) %></th>
			<th class="info col-md-2" ><%= sort_link(@q, :created_at, default_order: :desc) %></th>
			<th class="info col-md-2" ><%= Maker.human_attribute_name(:updated_at) %></th>
			<th class="info col-md-2" ></th>
		</tr>
	</thead>
  <tbody>
    <% @makers.each.with_index(1) do |maker, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= maker.name %></td>
        <td><%= maker.created_at.strftime('%Y/%m/%d %H:%M')  %></td>
        <td><%= maker.updated_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td>
          <%= link_to '編集', edit_user_maker_path(@user,maker), class: "btn btn-primary btn-xs" %> 
          <%= link_to '削除', user_maker_path(@user, maker), 
          data: {turbo_method: :delete, turbo_confirm: '本当によろしいですか？'}, class: "btn btn-danger btn-xs" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="text-center">
  <%= paginate @makers %>
</div>
