<% provide(:title, 'メーカーマスタ') %>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path, data: { turbo: false } %></li>
    <li class="breadcrumb-item active" aria-current="page">メーカーマスタ</li>
  </ol>
</nav>
<%= render 'shared/search', q: @q, url: user_makers_path(@user), label: 'メーカー名' %>
<div class="card shadow-sm">
  <div class="card-body">
    <h6 class="mb-3"><%="一覧（#{current_page_number(@makers)}）" %></h6>
    <div class="table-responsive text-nowrap">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <%= sort_link(@q, :name, class: "Editlink") %>
            </th>
            <th>
              <%= sort_link(@q, :created_at, class: "Editlink") %>
            </th>
            <th>
              <div class="d-flex justify-content-end" >
                <%= link_to new_user_maker_path(@user), data: { turbo: false } do %>
                  <i class="fa-solid fa-plus"></i>
                <% end %>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render @makers %>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <%= paginate @makers %>
    </div>
  </div>
</div>