<% provide(:title, 'メーカーマスタ') %>
<ol class="breadcrumb">
  <li><%= link_to 'ホーム', root_path %></li>
  <li class="active">メーカーマスタ</li>
</ol>
<h1>メーカーマスタ</h1>
<%= render 'shared/search', q: @q, url: user_makers_path(@user), label: 'メーカー名' %>
<%= turbo_frame_tag "makers-list" do %>
  <%= current_page_number(@makers) %>
  <p class="btn btn-success" id="add-maker"> + 追加</p>
  <%# <%= link_to " + 追加", new_user_maker_path(@user), class: "btn btn-success", id: "add-maker" %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="info col-md-4" ><%= Maker.human_attribute_name(:name) %></th>
          <th class="info col-md-4" ><%= sort_link(@q, :created_at) %></th>
          <th class="info col-md-4" ></th>
        </tr>
      </thead>
      <tbody>
        <%= render @makers %>
      </tbody>
    </table>
  <div class="text-right">
    <%= paginate @makers %>
  </div>
<% end %>
