<!-- タブ・メニュー -->
<ul class="nav nav-tabs">
  <li><a href="#pie_chartA" data-toggle="tab">円グラフ</a></li>
  <li class="active"><a href="#column_chartA" data-toggle="tab">棒グラフ</a></li>
</ul>
<!-- タブ内容 -->
<div class="tab-content">
  <div class="tab-pane" id="pie_chartA">
    <p>
      <%= pie_chart convert_array(aggregates), legend: "right", suffix: "円" %>
    </p>
  </div>
  <div class="tab-pane active" id="column_chartA">
    <p>
      <%= column_chart convert_array(aggregates) %>
    </p>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="info">No.</th>
        <th class="info"><%= Sale.human_attribute_name(:maker_id) %></th>
        <th class="info"><%= Sale.human_attribute_name(:producttype_id) %></th>
        <th class="info">純売上</th>
        <th class="info">販売数量</th>
      </tr>
    </thead>
    <tbody>
      <% aggregates.each.with_index(1) do |aggregate, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= aggregate.maker_name %></td>
          <td><%= aggregate.producttype_name %></td>
          <td class="text-right"><%= add_en_sold(aggregate.sum_amount_sold) %></td>
          <td class="text-right"><%= aggregate.quantity_sold %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div