<%= form_with(model: [user, sale], data: { turbo: false }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="card shadow-sm">
    <div class="card-body">
      <h6 class="mb-3"><%= form_name %></h6>
      <table class="table table-sm table-bordered">
        <tbody>
          <tr>
            <td class="table-light col-5 col-sm-3">
              <div class="col-form-label col-form-label-sm">
                <%= f.label :maker_id %>  <span class="badge bg-danger">必須</span>
              </div>
            </td>
            <td>
              <%= f.select :maker_id, user.makers.pluck(:name, :id), 
                                  { include_blank: "選択してください" }, { data: { controller: 'slim' }, class: "selectBox", required: true } %>
            </td>
          </tr>
          <tr>
            <td class="table-light">
              <div class="col-form-label col-form-label-sm">
                <%= f.label :producttype_id %>  <span class="badge bg-danger">必須</span>
              </div>
            </td>
            <td>
              <%= f.select :producttype_id, user.producttypes.pluck(:name, :id), 
                                  { include_blank: "選択してください" }, { data: { controller: 'slim' }, class: "selectBox", required: true } %>
            </td>
          </tr>
          <tr>
            <td class="table-light">
              <div class="col-form-label col-form-label-sm">
                <%= f.label :amount_sold %>  <span class="badge bg-danger">必須</span>
              </div>
            </td>
            <td>
              <%= f.number_field :amount_sold, class:"form-control form-control-sm input", required: true %>
            </td>
          </tr>
          <tr>
            <td class="table-light">
              <div class="col-form-label col-form-label-sm">
                <%= f.label :remark %>
              </div>
            </td>
            <td>
              <%= f.text_area :remark, class:"form-control form-control-sm input" %>
            </td>
          </tr>
          <tr>
            <td class="table-light">
              <div class="col-form-label col-form-label-sm">登録日時  <span class="badge bg-danger">必須</span></div>
            </td>
            <td>
              <%= raw sprintf(
              f.datetime_select(
                :created_at,
                { 
                  use_month_numbers: true,
                  end_year: Time.current.year,
                  date_separator: '%s',
                  datetime_separator: '%s',
                  time_separator: '%s'
                },
                { class:"form-select-sm", required: true }
              ),
              '年 ', '月 ', '日 ', '時 ') + '分' %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row mx-auto">
        <%= f.submit yield(:button_text), class: "btn btn-primary btn-sm col-4 col-md-2 me-2" %>
        <%= link_to '一覧へ戻る', url, class: "btn btn-danger btn-sm col-4 col-md-2 ", data: { turbo: false } %>
      </div>
    </div>
  </div>
<% end %>