<% provide(:title, '売上編集' ) %>
<% provide(:button_text, '更新' ) %>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path %></li>
    <li class="breadcrumb-item"><%= link_to '売上一覧', user_sales_path(@user) %></li>
    <li class="breadcrumb-item active" aria-current="page">売上編集</li>
  </ol>
</nav>
<h1>売上編集</h1>
<div class="row">
  <div class="col">
    <%= form_with(model: [@user, @sale]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :maker_id %>
        <%= f.select :maker_id, @user.makers.map{ |maker| [maker.name, maker.id]}, 
                                { include_blank: "選択してください" }, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :producttype_id %>
        <%= f.select :producttype_id, @user.producttypes.map { |producttype| [producttype.name, producttype.id]}, 
                                { include_blank: "選択してください" }, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :amount_sold %>
        <%= f.number_field :amount_sold, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :remark %>
        <%= f.text_area :remark, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :created_at %>
        <div>
          <%= raw sprintf(
            f.datetime_select(
              :created_at,
              { 
                use_month_numbers: true,
                end_year: Time.current.year,
                date_separator: '%s',
                datetime_separator: '%s',
                time_separator: '%s'
              },
              { class:"form-control form_date_select" }
            ),
            '年 ', '月 ', '日 ', '時 ') + '分' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>