<% provide(:title, '売上一覧')%>
<h1>売上一覧</h1>
<div class="well">
  <%= search_form_for @q, url: user_sales_path(@user), class: "mb-5" do |f| %>
    <div class="form_group row">
      <%= f.label :maker_name_cont, 'メーカー名', class: "col-sm-2 col-form-label"%>
      <div class="col-sm-10">
        <%= f.search_field :maker_name_cont, class: "form-control" %>
      </div>
    </div>
    <div class="form_group row">
      <%= f.label :producttype_name_cont, '商品名', class: "col-sm-2 col-form-label"%>
      <div class="col-sm-10">
        <%= f.search_field :producttype_name_cont, class: "form-control" %>
      </div>
    </div>
    <div class="form_group row">
      <%= f.label :created_at_gteq, '開始日', class: "col-sm-2 col-form-label"%>
      <div class="col-sm-10">
        <%= f.date_field :created_at_gteq, class: "form-control" %>
      </div>
    </div>
    <div class="form_group row">
      <%= f.label :created_at_lteq_end_of_day, '終了日', class: "col-sm-2 col-form-label"%>
      <div class="col-sm-10">
        <%= f.date_field :created_at_lteq_end_of_day, class: "form-control" %>
      </div>
    </div>
    <div class="form_group">
      <%= f.submit '検索', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<%= link_to "追加", new_user_sale_path(@user), class: "btn btn-lg btn-primary" %>
<%= link_to "月次集計", user_monthly_aggregate_path(@user), class: "btn btn-lg btn-primary" %>
<%= link_to "年次集計", user_yearly_aggregate_path(@user), class: "btn btn-lg btn-primary" %>
<%= link_to "日次集計", user_daily_aggregate_path(@user), class: "btn btn-lg btn-primary" %>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="info" >No.</th>
        <th class="info col-md-3" ><%= Sale.human_attribute_name(:maker_id) %></th>
        <th class="info col-md-3" ><%= Sale.human_attribute_name(:producttype_id) %></th>
        <th class="info col-md-1" ><%= Sale.human_attribute_name(:amount_sold) %></th>
        <th class="info col-md-1" ><%= Sale.human_attribute_name(:remark) %></th>
        <th class="info col-md-2" ><%= sort_link(@q, :created_at) %></th>
        <th class="info col-md-2" ></th>
      </tr>
    </thead>
    <tbody>
      <% @sales.each.with_index(1) do |sale, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= sale.maker.present? ? sale.maker.name : '未登録' %></td>
          <td><%= sale.producttype.present? ? sale.producttype.name : "未登録" %></td>
          <td class="text-right"><%= "#{number_with_delimiter(sale.amount_sold)}円" %></td>
          <td><%= sale.remark %></td>
          <td><%= sale.created_at.strftime('%Y/%m/%d %H:%M')  %></td>
          <td>
            <%= link_to '編集', edit_user_sale_path(@user, sale), class: "btn btn-primary btn-xs" %>  
            <%= link_to "削除", user_sale_path(@user, sale), 
            data: {turbo_method: :delete, turbo_confirm: '本当によろしいですか？'}, class: "btn btn-danger btn-xs" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="text-center">
  <%= paginate @sales %>
</div>