<% provide(:title, '売上一覧')%>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path, data: { turbo: false } %></li>
    <li class="breadcrumb-item active" aria-current="page">売上一覧</li>
  </ol>
</nav>
<div class="card shadow-sm mb-3">
  <div class="card-body">
    <h6 class="mb-3">検索条件</h6>
    <%= search_form_for @q, url: search_user_sales_path(@user), data: { turbo: false } do |f| %>
      <div class="form_group row mb-2">
        <div class="col-sm-2">
          <%= f.label :maker_name_cont, 'メーカー名', class: "col-form-label col-form-label-sm"%>
        </div>
        <div class="col-sm-4">
          <%= f.search_field :maker_name_cont, class: "form-control form-control-sm" %>
        </div>
        <div class="col-sm-2">
          <%= f.label :producttype_name_cont, '商品分類名', class: "col-form-label col-form-label-sm"%>
        </div>
        <div class="col-sm-4">
          <%= f.search_field :producttype_name_cont, class: "form-control form-control-sm" %>
        </div>
      </div>
      <div class="form_group row mb-2">
        <div class="col-sm-2 col-lg-2">
          <%= f.label :amount_sold_gteq, '販売価格', class: "col-form-label col-form-label-sm"%>
        </div>
        <div class="col-sm-10 col-lg-4">
          <div class="d-flex">
            <%= f.search_field :amount_sold_gteq, class: "form-control form-control-sm" %>
            <div class="col-form-label col-form-label-sm center">〜</div>
            <%= f.search_field :amount_sold_lteq, class: "form-control form-control-sm" %>
          </div>
        </div>
        <div class="col-sm-2 col-lg-2 mt-sm-2 mt-lg-0">
          <%= f.label :created_at_gteq, '登録日', class: "col-form-label col-form-label-sm"%>
        </div>
        <div class="col-sm-10 col-lg-4 mt-sm-2 mt-lg-0">
          <div class="d-flex">
            <%= f.date_field :created_at_gteq, class: "form-control form-control-sm" %>
            <div class="col-form-label col-form-label-sm center">〜</div>
            <%= f.date_field :created_at_lteq_end_of_day, class: "form-control form-control-sm" %>
          </div>
        </div>
      </div>
      <div class="form_group row">
        <div class="col-sm-2">
          <%= f.label :remark_cont, '備考', class: "col-form-label col-form-label-sm"%>
        </div>
        <div class="col-sm-4">
          <%= f.search_field :remark_cont, class: "form-control form-control-sm" %>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0 d-flex justify-content-start">
            <%= link_to 'クリア', user_sales_path(@user), class: "btn btn-outline-secondary btn-sm col-3 me-1", data: { turbo: false } %>
            <%= f.submit '検索', class: "btn btn-primary btn-sm col-3 me-1" %>
            <%= f.button class: 'btn btn-success btn-sm col-5 col-md-4', name: 'export_csv' do %>
              <i class="fa fa-file-text"></i> CSV出力
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="card shadow-sm">
  <div class="card-body">
    <h6 class="mb-3"><%="検索結果（#{current_page_number(@sales)}）" %></h6>
    <div class="table-responsive text-nowrap">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th><%= sort_link(@q, :maker_id, default_order: :desc, class: "Editlink") %></th>
            <th><%= sort_link(@q, :producttype_id, default_order: :desc, class: "Editlink") %></th>
            <th><%= sort_link(@q, :amount_sold, default_order: :desc, class: "Editlink") %></th>
            <th><%= sort_link(@q, :remark, default_order: :desc, class: "Editlink") %></th>
            <th><%= sort_link(@q, :created_at, default_order: :desc, class: "Editlink") %></th>
            <th>
              <div class="d-flex justify-content-end" >
                <%= link_to new_user_sale_path(@user), data: { turbo: false } do %>
                  <i class="fa-solid fa-plus"></i>
                <% end %>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @sales.each do |sale| %>
            <tr>
              <td><%= sale.maker.present? ? sale.maker.name : '未登録' %></td>
              <td><%= sale.producttype.present? ? sale.producttype.name : "未登録" %></td>
              <td class="text-right"><%= add_comma_en(sale.amount_sold) %></td>
              <td><%= truncate(sale.remark, length: 10) %></td>
              <td><%= sale.created_at.strftime('%Y/%m/%d %H:%M')  %></td>
              <td>
                <div class="d-flex justify-content-end">
                  <%= link_to user_sale_path(@user, sale), data: { turbo: false } do %>
                    <i class="fa-solid fa-magnifying-glass fa-fw"></i>
                  <% end %>
                  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <%= link_to edit_user_sale_path(@user, sale), data: { turbo: false } do %>
                    <i class="fa-solid fa-pen fa-fw"></i>
                  <% end %>
                  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <%= link_to user_sale_path(@user, sale), data: {turbo_method: :delete, turbo_confirm: '本当によろしいですか？'} do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end">
      <%= paginate @sales %>
    </div>
  </div>
</div>