<div class="col-sm-3 col-md-2 sidebar">
  <p>マスター</p>
  <ul class="nav nav-sidebar">
    <li><%= link_to 'メーカーマスター', user_makers_path(current_user) %></li>
    <li><%= link_to '商品分類マスター', user_producttypes_path(current_user) %></li>
  </ul>
  <p>売上登録</p>
  <ul class="nav nav-sidebar">
    <li><%= link_to '売上一覧', user_sales_path(current_user)%></li>
  </ul>
  <p>売上分析</p>
  <ul class="nav nav-sidebar">
    <li><%= link_to '年次集計', user_yearly_aggregate_path(current_user)%></li>
    <li><%= link_to '月次集計', user_monthly_aggregate_path(current_user)%></li>
    <li><%= link_to '日次集計', user_daily_aggregate_path(current_user)%></li>
  </ul>
</div>