<% if logged_in? %>
  <div class="acordion">
    <div class="acordion__ttl"><i class="fa-solid fa-database" style="color: #ffffff;"></i> マスタ</div>
    <div class="acordion__cnt">
      <li><%= link_to 'メーカー', user_makers_path(current_user), data: { turbo: false } %></li>
      <li><%= link_to '商品分類', user_producttypes_path(current_user), data: { turbo: false } %></li>
    </div>
    <div class="acordion__ttl"><i class="fa-solid fa-cash-register" style="color: #ffffff;"></i> 売上登録</div>
    <div class="acordion__cnt">
      <li><%= link_to '売上一覧', user_sales_path(current_user), data: { turbo: false } %></li>
    </div>
    <div class="acordion__ttl"><i class="fa-solid fa-table" style="color: #ffffff;"></i> 売上分析</div>
    <div class="acordion__cnt">
      <li><%= link_to '年別集計', user_yearly_aggregate_path(current_user), data: { turbo: false } %></li>
      <li><%= link_to '月別集計', user_monthly_aggregate_path(current_user), data: { turbo: false } %></li>
      <li><%= link_to '日別集計', user_daily_aggregate_path(current_user), data: { turbo: false } %></li>
    </div>
  </div>
<% end %>