<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "せるまね", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "売上一覧",   '#' %></li>
        <li><%= link_to "商品分類マスタ", '#' %></li>
        <li><%= link_to "メーカーマスタ", '#' %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "新規登録",   '#' %></li>
        <li><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>