<header class="navbar fixed-top navbar-expand-md navbar-light shadow-sm" style="background-color: #ffffff;">
  <div class="container-fluid">
    <%= link_to "LiLy", root_path, class: "navbar-brand", data: { turbo: false } %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                管理者
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li><%= link_to "ユーザー管理", admin_users_path, class: "dropdown-item", data: { turbo: false } %></li>
              </ul>
            </li>
            <li class="nav-item dropdown" id="hyde">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                マスター
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li><%= link_to '商品マスタ', user_producttypes_path(current_user), class: "dropdown-item", data: { turbo: false } %></li>
                <li><%= link_to 'メーカーマスタ', user_makers_path(current_user), class: "dropdown-item", data: { turbo: false } %></li>
              </ul>
            </li>
            <li class="nav-item dropdown" id="hyde">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                売上登録
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li><%= link_to '売上一覧', user_sales_path(current_user), class: "dropdown-item", data: { turbo: false } %></li>
              </ul>
            </li>
            <li class="nav-item dropdown" id="hyde">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                売上分析
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li><%= link_to '年次集計', user_yearly_aggregate_path(current_user), class: "dropdown-item", data: { turbo: false } %></li>
                <li><%= link_to '月次集計', user_monthly_aggregate_path(current_user), class: "dropdown-item", data: { turbo: false } %></li>
                <li><%= link_to '日次集計', user_daily_aggregate_path(current_user), class: "dropdown-item", data: { turbo: false } %></li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item dropdown" id="hyde">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                マスター
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li><%= link_to '商品マスタ', user_producttypes_path(current_user), class: "dropdown-item", data: { turbo: false } %></li>
                <li><%= link_to 'メーカーマスタ', user_makers_path(current_user), class: "dropdown-item", data: { turbo: false } %></li>
              </ul>
            </li>
            <li class="nav-item dropdown" id="hyde">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                売上登録
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li><%= link_to '売上一覧', user_sales_path(current_user), class: "dropdown-item", data: { turbo: false } %></li>
              </ul>
            </li>
            <li class="nav-item dropdown" id="hyde">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                売上分析
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li><%= link_to '年次集計', user_yearly_aggregate_path(current_user), class: "dropdown-item", data: { turbo: false } %></li>
                <li><%= link_to '月次集計', user_monthly_aggregate_path(current_user), class: "dropdown-item", data: { turbo: false } %></li>
                <li><%= link_to '日次集計', user_daily_aggregate_path(current_user), class: "dropdown-item", data: { turbo: false } %></li>
              </ul>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.name %>さん<span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><%= link_to "ユーザー情報", current_user, class: "dropdown-item", data: { turbo: false } %></li>
              <li><%= link_to "ログアウト", logout_path, data: { "turbo-method": :delete, turbo_confirm: 'ログアウトしますか？' }, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "ログイン", login_path, class: "nav-link", data: { turbo: false } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>