<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/slim-select@latest/dist/slimselect.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div id="loading">
      <%= image_tag "loading.png",class: "spinner" %> 
    </div>
    <%= render "layouts/header" %>
    <div class="container-fluid">
    <% if logged_in? %>
      <div class="col-md-2 me-auto sidebar">
        <%= render 'layouts/aside' %>
      </div>
      <div class="col-md-10 ms-auto main">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
        <%= render 'layouts/footer' %>
      </div>
    <% else %>
      <div class="main">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
        <%= render 'layouts/footer' %>
      </div>
    <% end %>
    </div>
  </body>
</html>
